body {
  background-color: rgb(255, 255, 255);
  
  font-family: system-ui, sans-serif;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
    display: flex;

}
 .logo {
   max-width: 600px;
   height: auto;
 }
.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px; 
}
.sqr 
{  
 width: 14.2%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 1px;
  text-align: center;
  border-radius: 36px;
}

button {
  margin-top: 20px;
  font-size: 20px;
font-weight: bold;
  font-family: system-ui, sans-serif;
  border: none; 
  width: 100px;
  height: 35px;
  border-radius: 8px;
  // change background color if theres time
  background-color: aquamarine;
}